{% load static %}
<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>Sukoon Ghar</span>
        </a>
        <p>{{ about_data.sub_description }}</p>
        <div class="social-links d-flex mt-4">
       
          <a href="https://www.instagram.com/__sukoon_ghar__/"><i class="bi bi-instagram"></i></a>
     
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="{% url 'about' %}">About us</a></li>
    
        </ul>
      </div>

      

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>H. No-2B, 268, Distt, Avas Vikas Colony,</p>
                <p> Baraut, Uttar Pradesh, 250611</p>
        <p class="mt-4"><strong>Phone:</strong> <span>8791661983</span></p>
        <p><strong>Email:</strong> <span>sukoongharbaraut@gmail.com</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>&copy; <span></span> <strong class="px-1"></strong> <span></span></p>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you've purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      <a href="https://bootstrapmade.com/"></a>
    </div>
  </div>

</footer><!-- End Footer -->
